Source: rust
Section: devel
Priority: optional
Maintainer: Michael Aaron Murphy <mmstick@pm.me>
Standards-Version: 4.1.1
Homepage: https://github.com/pop-os/packaging-rust
Build-Depends:
  ca-certificates,
  curl,
  debhelper-compat (= 10),
  just,
  patchelf,

Package: cargo
Architecture: amd64 arm64
Description: Rust package manager
Depends: curl, rustc, ${misc:Depends}

Package: cargo-doc
Architecture: all
Description: Rust package manager, documentation
Depends: ${misc:Depends}

Package: rust-all
Architecture: all
Description: Metapackage that installs everything
Depends: cargo, cargo-doc, rustc, rustfmt, rust-clippy, rust-doc, rust-gdb, rust-lldb

Package: rustc
Architecture: amd64 arm64
Description: Rust compiler build from rust-lang.org
Depends: curl, ${misc:Depends}

Package: rustfmt
Architecture: amd64 arm64
Description: Rust formatter
Depends: rustc, cargo, ${misc:Depends}

Package: rust-clippy
Architecture: amd64 arm64
Description: Rust linter
Depends: rustc, cargo, ${misc:Depends}

Package: rust-gdb
Architecture: amd64 arm64
Description: Rust debugger (gdb)
Depends: ${misc:Depends}

Package: rust-lldb
Architecture: amd64 arm64
Description: Rust debugger (lldb)
Depends: ${misc:Depends}

Package: rust-doc
Architecture: all
Description: Rust documentation
Depends: ${misc:Depends}
