#!/usr/bin/make -f

VERSION=1.72.0

%:
	dh $@

override_dh_auto_clean:
	ischroot || bash fetch.sh upstream $(VERSION) \
		f2bbe23e685852104fd48d0e34ac981b0917e76c62cfcd6d0ac5283e4710c7b9 \
		801598f69ac32969c436ae8a6dd01c64bbed094412e4dbefcf47f56faed056c1
#	ischroot || just version=$(VERSION) fetch

override_dh_auto_build:
	just version=$(VERSION)

override_dh_auto_install:
	just version=$(VERSION) rootdir=debian/tmp install

override_dh_strip:

override_dh_shlibdeps:
	dh_shlibdeps -Xclippy