#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	ischroot || bash fetch.sh upstream 1.7 1.7.3

override_dh_auto_build:
	just

override_dh_auto_install:
	just rootdir=debian/tmp install

override_dh_strip:
